// Main body
$mirage: #1b2030;
// Top Footer Bar
$ebony-clay: #292f41;
// Footer & Button Background
$bright-gray: #383e52;

// Light Text Color
$athens-gray: #f1f1f3;
// Description Text Color
$aluminium: #a5a8b6;

// Progress Bar Start
$fuchsia-pink: #b6519f;
// Progress Bar End
$pelorous: #3cb4c4;

// Button Background Light
$athens-gray-dim: #eaebef;